<article class="blog-post">
  <h1 class="text h1">New Article</h1>

  <%= render "form", article: @article %>

  <div class="text fw-semibold text-success-emphasis">
    <%= link_to 'Back to Articles list', root_path %>
  </div>
</article>
